---
layout: default
---
<header>
	{% include clouds.html %}
	<h1 class="hero-text">Brian Allen</h1>
	{% include tree.html %}
</header>

<section>
	<article class="links">
		<h1 class="slogan">Full Stack Engineer</h1>
		<div class="about">
			<p>I create fully functional apps and websites. I have 5+ years of professional development experience.  I specialize mainly in Android/iOS, Rails, and Node.js development.<br><br>I love working on all aspects of software engineering. I am currently accepting freelance web (frontend and backend) and mobile application projects.</p>
		</div>
		<a class="contact-link" href="mailto:&#098;&#114;&#105;&#097;&#110;&#097;&#108;&#108;&#101;&#110;&#053;&#049;&#057;&#051;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"><span class="contact-me">Contact Me</span></a>
		<h1 class="slogan">Recent Professional Projects</h1>
		<ul class="grid cs-style-3">
			<li>
				<figure>
					<img src="/assets/img/scannly.png" alt="img01">
					<figcaption>
						<h3>Scannly Web App</h3>
						<span>WEB DEVELOPMENT | EMBER.JS</span>
						<a href="/projects/professional/scannly">Take a look</a>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="/assets/img/scannlyapp.jpg" alt="img01">
					<figcaption>
						<h3>Scannly Mobile App</h3>
						<span>ANDROID DEVELOPMENT | ANDROID</span>
						<a href="/projects/professional/scannlyapp">Take a look</a>
					</figcaption>
				</figure>
			</li>
			<li>
				<figure>
					<img src="/assets/img/envirovacs.png" alt="img01">
					<figcaption>
						<h3>Envirovacs Web App</h3>
						<span>WEB DEVELOPMENT | RUBY ON RAILS 5</span>
						<a href="/projects/professional/envirovacs">Take a look</a>
					</figcaption>
				</figure>
			</li>
		</ul>
<!-- 		<div class="projects">
			<a href="/projects/professional/scannly">
				<div class="card">
					<div class="Scannly">
					</div>
					<div class="description">
						<h2>Scannlyapp Web App</h2>
						<h3>WEB DEVELOPMENT  |  EMBER.JS</h3>
					</div>
				</div>
			</a>
			<a href="https://play.google.com/store/apps/details?id=com.snapwebdevelopment.scanhappy">
				<div class="card">
					<div class="Scannlyapp">
					</div>
					<div class="description">
						<h2>Scannly Mobile app</h2>
						<h3>ANDROID DEVELOPMENT  |  ANDROID</h3>
					</div>
				</div>
			</a>
			<a href="http://envirovacs.com/">
				<div class="card">
					<div class="Envirovacs">
					</div>
					<div class="description">
						<h2>Envirovacs Web App</h2>
						<h3>WEB DEVELOPMENT  |  RUBY ON RAILS 5</h3>
					</div>
				</div>
			</a>			
		</div> -->
		<h1 class="slogan">Recent Personal Projects</h1>
<!-- 		<div class="projects">
			<a href="https://scannlyapp.com/">
				<div class="card">
					<div class="Scannly">
					</div>
					<div class="description">
						<h2>Scannlyapp Web App</h2>
						<h3>WEB DEVELOPMENT  |  EMBER.JS</h3>
					</div>
				</div>
			</a>
			<a href="https://play.google.com/store/apps/details?id=com.snapwebdevelopment.scanhappy">
				<div class="card">
					<div class="Scannlyapp">
					</div>
					<div class="description">
						<h2>Scannly Mobile app</h2>
						<h3>ANDROID DEVELOPMENT  |  ANDROID</h3>
					</div>
				</div>
			</a>
			<a href="http://envirovacs.com/">
				<div class="card">
					<div class="Envirovacs">
					</div>
					<div class="description">
						<h2>Envirovacs Web App</h2>
						<h3>WEB DEVELOPMENT  |  RUBY ON RAILS 5</h3>
					</div>
				</div>
			</a>
		</div> -->
		<ul class="grid cs-style-3">
			<li>
				<figure>
					<img src="/assets/img/whatdirectionapp.jpg" alt="img01">
					<figcaption>
						<h3>WhatDirection</h3>
						<span>Android</span>
						<a href="/projects/personal/whatdirection">Take a look</a>
					</figcaption>
				</figure>
			</li>
		</ul>
	</article>
</section>