<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Brian Allen</title>
    <meta name="twitter:title" content="Web Application Development, Mobile App Development | Brian Allen - Providence, Boston">

    <!-- Facebook Metadata -->
	<meta property="og:url"                content="http://brian.snapwebdevelopment.com" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Web Application Development, Mobile App Development | Brian Allen - Providence, Boston"/>
	<meta property="og:description"        content="I build web and mobile apps for small and soon-to-be-big businesses." />
<!-- 	<meta property="og:image"              content="http://snapwebdevelopment.com/assets/images/snap-facebook.png" />
 -->    
 	<meta name="application-name" 		   content="Brian Allen">
    <meta property="og:site_name" 		   content="Brian Allen">
    <meta name=”robots” content=”noodp”>
  
    <meta name="msapplication-tap-highlight" content="no">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,800|Bungee+Shade" rel="stylesheet">
<!-- 	<link rel="stylesheet" type="text/css" href="css/main.css">
 -->	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>
